
.img1{
    height: 450px;
    
}

.nav1{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8px 9%;
    background: rgb(154, 156, 232); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav1:hover{
  color: brown;
}
 ul li a:hover{
  color: #343a40;
}

.cardconter
{
   box-sizing: border-box;
   background-color: blanchedalmond;
   margin-left: 150px;
   margin-right: 150px;
}
.h3{
    margin-left: 50%;
}

.sco1{
    width: 450px;
}
.con1{
    padding: 42px 14px 3px 14px;
    background-color: antiquewhite;
}

.card1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 10px;
    
}

.card11{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 10px;
}
.card10{
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 10px;
}
.card12{
    width: 100px;
    background-color: #9f3a3a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 25px;
}

.card2{
    width: 100px;
    background-color: #9f3a3a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 25px;
}



.item3{
    margin-left: 40px;
    margin-top: 10px;
}

.container{
    background-color: aquamarine;
}

   /* Custom CSS for footer */
    .custom-footer {
      background-color: #343a40;  /* dark gray */
      color: white;
      padding: 30px 0;
    }

    .custom-footer a {
      color: #ffffff;
      text-decoration: none;
    }

    .custom-footer a:hover {
      text-decoration: underline;
    }

    .footer-bottom {
      text-align: center;
      padding-top: 10px;
      font-size: 14px;
      border-top: 1px solid #555;
      margin-top: 20px;
    }

body{
    background-color:rgb(230, 215, 14) ;
  }

  /* .rounded{

    box-sizing: border-box;
    border: 2px solid ghostwhite;
    border-radius: 5px;
  } */

  /* .carousel-inner {
    position: relative;
    width: 127%;
    border-radius: 35px;
    overflow: hidden;
} */

.sco1{
  margin-top: 100px;
}

.section2{
  margin-top: 40px;
  display: flex;
  /* margin: 40px; */
  padding: 50px;
  /* background-color: rgb(123, 240, 247); */
  background-color: #c6dbf1;

}

 .section2 .subsecation2{
      margin-left: 341px;
      width: 100%;
 

      /* box-sizing: border-box;
      border: 2px solid green;
      border-radius: 25px; */
 }

 .imm1{
      width: 100px;
 }


.subsecation2:hover{
      color: #067bf0;
 }
 /* .section2:hover{
  color: aqua;
 } */

 img:hover{
  color: brown;
 }
 .figure1{
    margin-top: 161px;
 }

 .text1{
  margin-left: 40px;
  font-size: 40px;
  flex-wrap: wrap;

 }

 .text1:hover{
  color: rgb(221, 62, 9);
 }


 .tree1{
    margin-left: 45%;
    color: aliceblue;
 }

 .serc2{
  margin-left: 45%;
    color: #f0f0f0;
 }
 .ser2{
  margin-top: 10px;
    margin-left: 45%;
    color: #c90000;
 }
 .serc3{
  margin-left: 30%;
  flex-wrap: wrap;
  color: wheat;
  font: optional;
  font-size: 25px;
 }
 .section3{
    background-color: rgb(70, 174, 244);
 }
 .section4{
  /* background-color: #555; */

 }

 .step1{
  margin-left: 35%;
  font-size: 20px;
  color: aquamarine;
 }
 .h5{
  margin-left: 20%;
 }
 .card3{
   width: 100px;
   
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 25px;
 }

 .nav4{
    background-color: #c90000;
    padding: 30px;
    
 }

 .nav4 ul li a {
   font-size: 40px;
 }
